  <section style="background:	blue; color: 	#ffffff;">
    <h2>Sejam bem vindos ao meu blog!</h2>
    <nav class="circle" >
      
      <ul>
        <li class="nav-item">
          <a class="nav-link" routerLink='home'>Home <span
              class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='feed'>Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            routerLink='cadastro'>Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            routerLink='login'>Login</a>
        </li>
        <!--<li><a href="#">About</a></li>
      <li><a href="#">Downloads</a></li>
      <li><a href="#">More</a></li>
      <li><a href="#">Nice staff</a></li> -->
      </ul>
    </nav>
  </section>
